{% extends 'layout/layout.twig' %}
{% block searchBar %}
    <form>
        <div id="search-bar" class="input-group" >
            <span class="input-group-addon glyphicon glyphicon-search" id="sizing-addon2"></span>
            <input name="keyword" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="{{ keyword }}">
        </div>
    </form>
{% endblock searchBar %}
{% block content %}

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
            {% include 'application/menu.twig' %}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <ul id="data-div" class="list-group">
                {% for v in paginator  %}
                    <li data-id="{{ v.id }}" class="list-group-item">
                        <span class="badge">{{ v.id }}</span>
                        {{ v.chineseName }} -- {{ v.username }}</li>
                {% endfor %}
            </ul>
            <div id="pagination-div">
                {{ paginationControl(paginator, 'Elastic', 'application/select-pagination.twig',
                {'route':'application/user-page','controller':'index', 'keyword': keyword})}}
            </div>
        </div>
    </div>

{% endblock %}